/* When the screen size is at this size  */

@media (max-width: 1430px) {
    .names {
        position: absolute;
        margin-top: 160px;
        color: rgb(32, 151, 255);
        line-height: 80px;
        text-transform: uppercase;
    }
    .contact-form {
        margin-left: 16rem;
    }
}

@media (max-width: 1300px) {
    .btns1 {
        padding: 5px 17px;
        background: #4aa5b8;
        text-decoration: none;
        margin-left: 450px;
        border-radius: 4px;
        font-size: 15px;
        color: #fff;
        transition: 0.5s;
        font-family: "Pushster", cursive;
    }
    .skilled .row {
        width: 50%;
        min-width: 590px;
        position: relative;
        transform: translate(-50%, -50%);
        left: 58%;
        top: 50%;
        margin-top: -6rem;
    }
    .abouthead {
        margin-left: 18rem;
        margin-top: 130px;
        color: #22242a;
        font-weight: 600;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    .container p {
        margin-left: 280px;
        margin-right: 360px;
        text-align: left;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    .aboutimg img {
        width: 300px;
        float: right;
        margin-bottom: 32px;
        margin-top: 25px;
        margin-right: 23px;
        border-radius: 80px;
    }
    .gitrepo-project {
        font-size: 14px;
        float: left;
        padding: 10px 10px;
    }
    .live-project {
        font-size: 15px;
        float: right;
        padding: 10px 10px;
    }
}

@media (max-width: 1070px) {
    .btns1 {
        padding: 5px 17px;
        background: #4aa5b8;
        text-decoration: none;
        margin-left: 360px;
        border-radius: 4px;
        font-size: 15px;
        color: #fff;
        transition: 0.5s;
        font-family: "Pushster", cursive;
    }
    .names {
        position: absolute;
        margin-top: 160px;
        margin-left: 280px;
        color: aliceblue;
        line-height: 70px;
        text-transform: uppercase;
    }
    /* about us page */
    .container .aboutme {
        margin-top: 110px;
        text-align: center;
        font-weight: 600;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    .abouthead {
        margin-left: 11.4em;
        margin-top: 99px;
        color: #22242a;
        font-weight: 600;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    .container p {
        margin-left: 17rem;
        margin-right: 5px;
        text-align: left;
        margin-top: 40px;
        font-weight: 500;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    .aboutimg img {
        width: 250px;
        margin-bottom: 32px;
        margin-top: 59px;
        border-radius: 20px;
    }
    .certi-wrap {
        /* box-sizing: border-box; */
        /* background: #040b14; */
        margin: 100px auto;
        display: flex;
        margin-left: 13rem;
        justify-content: center;
    }
    .gallery .certificates {
        padding: 7px;
        width: calc(100% / 3);
    }
    .all-project {
        margin-top: 5rem;
        margin-left: 13rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .gitrepo-project {
        font-size: 14px;
        float: left;
        padding: 6px 6px;
    }
    .live-project {
        font-size: 15px;
        float: right;
        padding: 6px 6px;
    }
}

@media (max-width: 997px) {
    .sidebar {
        width: 0px;
    }
    .names {
        position: absolute;
        margin-top: 140px;
        margin-left: 174px;
        color: aliceblue;
        line-height: 107px;
        text-transform: uppercase;
    }
    .names p {
        font-size: 36px;
        font-weight: 300;
    }
    .names h1 {
        font-size: 55px;
        margin-left: -2px;
        -webkit-text-stroke: 1px rgb(22, 22, 22);
        color: transparent;
    }
    .names h3 {
        font-size: 56px;
        font-weight: 500;
    }
    /* about us page */
    .container .aboutme {
        margin-top: 110px;
        text-align: center;
        font-weight: 600;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    .abouthead {
        margin-left: 1rem;
        margin-top: 29px;
        color: #22242a;
        font-weight: 400;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    .container p {
        margin-left: 3px;
        margin-right: 40px;
        text-align: center;
        margin-top: 40px;
        font-weight: 500;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    .aboutimg img {
        width: 200px;
        margin-bottom: 32px;
        margin-top: -39px;
        border-radius: 20px;
    }
    .skilled .text {
        margin-left: 2px;
        margin-right: 16px;
        margin-top: 50px;
        /* margin-bottom: 52px; */
        font-weight: 500;
        color: whitesmoke;
        text-align: center;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    .container .skillhead {
        margin-left: 10px;
        margin-top: 100px;
        padding-top: 46px;
        margin-bottom: 62px;
        text-align: center;
        font-weight: 600;
        position: relative;
        color: #5cf2fd;
        font-size: 2.2em;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    .skilled .row {
        width: 50%;
        min-width: 590px;
        position: relative;
        transform: translate(-50%, -50%);
        left: 48%;
        top: 50%;
        margin-top: -6rem;
    }
    .certi-wrap {
        margin: 100px auto;
        display: flex;
        justify-content: center;
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 5rem;
        margin-top: 30px;
    }
    .gallery .certificates {
        padding: 7px;
        width: calc(100% / 4);
    }
    .all-project {
        margin-top: 5rem;
        margin-left: 0rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contact-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin-left: 1rem;
    }
}

@media (max-width: 890px) {
    .btns1 {
        display: none;
    }
    .names {
        position: absolute;
        margin-top: 140px;
        margin-left: 128px;
        color: aliceblue;
        line-height: 110px;
        text-transform: uppercase;
    }
    .names p {
        font-size: 36px;
        font-weight: 300;
    }
    .names h1 {
        font-size: 45px;
        margin-left: -2px;
        -webkit-text-stroke: 1px rgb(22, 22, 22);
        color: transparent;
    }
    .names h3 {
        font-size: 16px;
        font-weight: 500;
    }
    /* about us page */
    .container .aboutme {
        margin-top: 110px;
        text-align: center;
        font-weight: 600;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    .abouthead {
        margin-left: 1rem;
        margin-top: 129px;
        color: #22242a;
        font-weight: 600;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    .container p {
        margin-left: 3px;
        margin-right: 10px;
        text-align: center;
        margin-top: 20px;
        font-weight: 500;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    .aboutimg img {
        width: 270px;
        margin-bottom: 32px;
        margin-top: 19px;
        border-radius: 20px;
    }
    .skilled .row {
        width: 50%;
        min-width: 590px;
        position: relative;
        transform: translate(-50%, -50%);
        left: 43.5%;
        top: 50%;
        margin-top: -6rem;
    }
    .certi-items .item i {
        margin-right: 10px;
    }
    .certi-items .item {
        font-size: 2rem;
        cursor: pointer;
    }
    .certi-wrap .certi-items {
        max-width: 600px;
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0rem;
        margin-top: 30px;
    }
    .gallery .certificates {
        padding: 7px;
        width: calc(100% / 3);
    }
    .contact-form {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        margin-left: 1rem;
    }
    footer .wave {
        position: absolute;
        top: -30px;
        left: 0;
        width: 100%;
        height: 49px;
        background: rgb(238, 238, 238) url(images/wave.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 768px) {
    .contact-info {
        display: grid;
        margin-left: 3em;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 676px) {
    .skilled .row {
        width: 30%;
        min-width: 520px;
        position: relative;
        transform: translate(-50%, -50%);
        margin-left: 1px;
        top: 50%;
        margin-top: -6rem;
    }
    footer .wave {
        position: absolute;
        top: -30px;
        left: 0;
        width: 100%;
        height: 49px;
        background: rgb(238, 238, 238) url(images/wave.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

@media (max-width: 629px) {
    .names h1 {
        font-size: 33px;
        margin-left: -2px;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
    }
    /* about us page */
    .container .aboutme {
        margin-top: 110px;
        text-align: center;
        font-weight: 600;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    .abouthead {
        margin-left: 1rem;
        margin-top: 55px;
        color: #22242a;
        font-weight: 600;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    .container p {
        margin-left: 3px;
        margin-right: 15px;
        text-align: center;
        margin-top: 20px;
        font-weight: 500;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    .aboutimg img {
        width: 200px;
        margin-left: 10px;
        margin-bottom: 32px;
        margin-top: 20px;
        border-radius: 20px;
    }
    .skilled .row {
        width: 30%;
        min-width: 470px;
        position: relative;
        transform: translate(-50%, -50%);
        margin-left: 1px;
        top: 50%;
        margin-top: -6rem;
    }
    .certi-items .item i {
        margin-right: 10px;
    }
    .certi-items .item {
        font-size: 2rem;
        cursor: pointer;
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0rem;
        margin-top: 30px;
    }
    .gallery .certificates {
        padding: 7px;
        width: calc(100% / 3);
    }
}

@media (max-width: 570px) {
    .names {
        position: absolute;
        margin-top: 160px;
        margin-left: 60px;
        color: aliceblue;
        line-height: 85px;
        text-transform: uppercase;
    }
    .names h1 {
        font-size: 25px;
        margin-left: -2px;
        color: transparent;
        -webkit-text-stroke: 0.2px rgb(0, 0, 0);
    }
    .names h3 {
        margin-left: -12px;
        font-size: 20px;
        font-weight: 500;
    }
    .row {
        margin-left: -7px;
        margin-top: 10px;
    }
    .main-btn {
        border: 1px solid #3498db;
        border-radius: 3px;
        color: #dba6f0;
        background: none;
        padding: 8px 8px;
        font-size: 15px;
        cursor: pointer;
        margin: 5px;
    }
    .main-btn:hover {
        background: #74e3eb;
        color: #140c0c;
    }
    /* about us page */
    .container .aboutme {
        margin-top: 110px;
        text-align: center;
        font-weight: 600;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    .abouthead {
        margin-left: 1px;
        margin-top: 69px;
        font-size: 18px;
        color: #22242a;
        font-weight: 600;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    .container p {
        margin-left: 1px;
        text-align: center;
        margin-top: 40px;
        font-size: 12px;
        font-weight: 500;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    .aboutimg img {
        width: 180px;
        margin-bottom: 32px;
        margin-top: 29px;
        border-radius: 20px;
    }
    .skilled .row {
        width: 30%;
        min-width: 370px;
        position: relative;
        transform: translate(-50%, -50%);
        margin-left: 1px;
        top: 46%;
        margin-top: -6rem;
    }
    .certificateed hr {
        width: 13rem;
        margin-top: -1rem;
    }
    .certi-wrap {
        margin: 30px auto;
    }
    .certi-wrap .certi-items {
        flex-wrap: wrap;
        justify-content: center;
    }
    .certi-items span {
        margin: 5px;
    }
    .gallery .certificates {
        margin-top: 3rem;
        width: 90%;
    }
}

@media (max-width: 490px) {
    .skilled .row {
        width: 28%;
        min-width: 290px;
        position: relative;
        transform: translate(-50%, -50%);
        margin-left: -6px;
        top: 46%;
        margin-top: -6rem;
    }
    .skilled .item-text {
        display: flex;
        justify-content: flex-start;
        font-weight: 600;
        font-size: 1rem;
        position: relative;
    }
    .certificateed hr {
        width: 8rem;
        margin-top: -1rem;
    }
    .certi-wrap {
        margin: 28px auto;
    }
    .certi-wrap .certi-items {
        flex-wrap: wrap;
        justify-content: center;
    }
    .certi-items span {
        margin: 3px;
    }
    .gallery .certificates {
        margin-top: 3rem;
        width: 88%;
    }
    .card {
        width: 90%;
        min-width: 200px;
        height: auto;
        margin: 14px;
        border-radius: 8px;
        box-shadow: 0 2px 5px #aaa;
        cursor: pointer;
    }
    footer .wave {
        position: absolute;
        top: -30px;
        left: 0;
        width: 100%;
        height: 40px;
        background: rgb(238, 238, 238) url(images/wave.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

@media (max-width: 400px) {
    footer .wave {
        position: absolute;
        top: -30px;
        left: 0;
        width: 100%;
        height: 34px;
        background: rgb(238, 238, 238) url(images/wave.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .left_area h3 {
        position: fixed;
        color: #fff;
        margin: 0;
        font-size: 24px;
        left: 95px;
    }
    .names {
        position: absolute;
        margin-top: 140px;
        margin-left: 50px;
        color: rgb(101, 183, 255);
        line-height: 95px;
        text-transform: uppercase;
    }
    .names p {
        font-size: 20px;
        font-weight: 600;
    }
    .names h1 {
        font-size: 30px;
        margin-left: -2px;
    }
    .names h3 {
        font-size: 14px;
        font-weight: 400;
    }
    /* about us page */
    .container .aboutme {
        margin-top: 110px;
        text-align: center;
        font-weight: 600;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    .abouthead {
        margin-left: 1rem;
        margin-top: 29px;
        color: #22242a;
        font-weight: 600;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    .container p {
        margin-left: 3px;
        margin-right: 5px;
        text-align: center;
        margin-top: 40px;
        font-weight: 500;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    .aboutimg img {
        width: 355px;
        margin-bottom: 32px;
        margin-top: 59px;
        margin-left: 2px;
        border-radius: 20px;
    }
    .skilled .row {
        width: 30%;
        min-width: 220px;
        position: relative;
        transform: translate(-50%, -50%);
        margin-left: -10px;
        top: 46%;
        margin-top: -6rem;
    }
}

@media (max-width: 330px) {
    .left_area h3 {
        position: fixed;
        color: #fff;
        margin: 0;
        font-size: 24px;
        left: 83px;
    }
    .names {
        position: absolute;
        margin-top: 90px;
        margin-left: 90px;
        color: rgb(101, 183, 255);
        line-height: 95px;
        text-transform: uppercase;
    }
    .names p {
        font-size: 17px;
        font-weight: 600;
    }
    .names h1 {
        font-size: 25px;
        margin-left: -2px;
    }
    .names .anime-text {
        font-size: 20px;
        font-weight: 500;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    }
    label #sidebar_btn {
        margin-left: -12px;
    }
    .left_area h3 {
        margin-left: -1px;
    }
    /* about us page */
    .container .aboutme {
        margin-top: 110px;
        text-align: center;
        font-weight: 600;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    .abouthead {
        margin-left: 0px;
        margin-top: 29px;
        color: #22242a;
        font-weight: 600;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    .container p {
        margin-left: 3px;
        margin-right: 5px;
        text-align: center;
        margin-top: 40px;
        font-weight: 500;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    .aboutimg img {
        width: 275px;
        margin-bottom: 32px;
        margin-top: 59px;
        margin-left: 2px;
        border-radius: 20px;
    }
    .skilled .row {
        width: 30%;
        min-width: 180px;
        position: relative;
        transform: translate(-50%, -50%);
        margin-left: -20px;
        top: 46%;
        margin-top: -6rem;
    }
    .skilled .item-text {
        display: flex;
        justify-content: flex-start;
        font-weight: 600;
        font-size: 12px;
        position: relative;
    }
    .gallery .certificates {
        margin-top: 3rem;
        width: 90%;
    }
    footer .wave {
        position: absolute;
        top: -29px;
        left: 0;
        width: 100%;
        height: 29px;
        background: rgb(238, 238, 238) url(images/wave.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}