/* Css for the upper nav menu (Button and name) */

@media (max-width: 1300px) {
    .btns1 {
        padding: 5px 17px;
        background: #4aa5b8;
        text-decoration: none;
        margin-left: 450px;
        border-radius: 4px;
        font-size: 15px;
        color: #fff;
        transition: 0.5s;
        font-family: 'Pushster', cursive;
    }
}

@media (max-width: 1070px) {
    .btns1 {
        padding: 5px 17px;
        background: #4aa5b8;
        text-decoration: none;
        margin-left: 360px;
        border-radius: 4px;
        font-size: 15px;
        color: #fff;
        transition: 0.5s;
        font-family: 'Pushster', cursive;
    }
    .names {
        position: absolute;
        margin-top: 160px;
        margin-left: 100px;
        color: aliceblue;
        line-height: 70px;
        text-transform: uppercase;
    }
}

@media (max-width: 890px) {
    .btns1 {
        display: none;
    }
    .names {
        position: absolute;
        margin-top: 140px;
        margin-left: 80px;
        color: aliceblue;
        line-height: 60px;
        text-transform: uppercase;
    }
    .names p {
        font-size: 236x;
        font-weight: 300;
    }
    .names h1 {
        font-size: 35px;
        margin-left: -10px;
        -webkit-text-stroke: 1px rgb(22, 22, 22);
        color: transparent;
    }
    .names h3 {
        font-size: 16px;
        font-weight: 500;
    }
}


/* Under working */

@media (max-width: 570px) {
    .content {
        margin-left: 194px;
    }
    .names h1 {
        font-size: 30px;
        margin-left: -10px;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
    }
    .names h3 {
        margin-left: -12px;
        font-size: 20px;
        font-weight: 500;
    }
    .row {
        margin-left: -7px;
        margin-top: 10px;
    }
    .main-btn {
        border: 1px solid #3498db;
        border-radius: 3px;
        color: #dba6f0;
        background: none;
        padding: 8px 8px;
        font-size: 15px;
        cursor: pointer;
        margin: 5px;
    }
    .main-btn:hover {
        background: #74e3eb;
        color: #140c0c;
    }
}

@media (max-width: 400px) {
    .left_area h3 {
        position: fixed;
        color: #fff;
        margin: 0;
        font-size: 24px;
        left: 95px;
    }
    .names {
        position: absolute;
        margin-top: 80px;
        margin-left: 75px;
        color: rgb(101, 183, 255);
        line-height: 65px;
        text-transform: uppercase;
    }
    .names p {
        font-size: 20px;
        font-weight: 600;
    }
    .names h1 {
        font-size: 35px;
        margin-left: -8px;
    }
    .names h3 {
        font-size: 14px;
        font-weight: 400;
    }
}


/* End of css for the upper nav menu (Button and name)  */