body {
    margin: 0;
    padding: 0;
}


/* Start of upper nav menu css  */

header {
    position: fixed;
    background: #22242a;
    padding: 16px;
    width: 100%;
    height: 30px;
    z-index: 100;
}


/* Css for name in upper nav */

.left_area h3 {
    position: fixed;
    color: #fff;
    margin: 0;
    font-size: 28px;
    font-family: "Libre Baskerville", serif;
    left: 90px;
}

.left_area span {
    color: #19b3d3;
}


/* Css for the buttons in upper nav menu */

.button1 {
    margin-top: 5px;
}

.btns1 {
    padding: 5px 17px;
    background: #4aa5b8;
    text-decoration: none;
    margin-left: 550px;
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    transition: 0.5s;
    font-family: "Pushster", cursive;
}

.btns1:hover {
    background: #f871db;
}


/* End of upper nav menu css  */


/* start of Css for vertical nav or side menu bar */

.sidebar {
    background: #040b14;
    margin-top: 61px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 260px;
    height: 100%;
    transition: all 0.5s;
    z-index: 1;
    overflow-x: hidden;
}


/* Css for the image in sidebar */

.sidebar .profile_image {
    width: 135px;
    height: 135px;
    border-radius: 100px;
    border: 7px solid #202433f3;
    margin-bottom: 9px;
    margin-top: -19px;
}

.sidebar h4 {
    font-size: 16px;
    color: rgb(141, 238, 225);
    margin-top: 0;
    margin-bottom: 20px;
    font-family: "Josefin Sans", sans-serif;
    background: -webkit-linear-gradient(rgb(161, 255, 169), rgb(115, 176, 245));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* close btn css */

.closebtn {
    position: absolute;
    right: 22px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 1000;
    margin-top: -12px;
}

.closebtn:hover {
    color: #19b3d3;
}


/* For animating text */

.sidebar .link {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 46px;
    font-size: 20px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: 5px solid transparent;
    font-family: "Libre Baskerville", serif;
    transition: 0.5s;
    font-family: "Vujahday Script", cursive;
    cursor: pointer;
}

.sidebar .link:hover {
    padding-left: 20px;
    color: rgb(56, 221, 233);
    border-left: 5px solid rgb(52, 224, 224);
    transition: 0.5s;
}


/* Css for the gap between icon and home */

.sidebar .new {
    padding-right: 25px;
}


/* Css for the bar button menu in upper nav */

#sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    font-size: 20px;
    margin: 5px 0;
    left: 32px;
    transition: 0.5s;
    transition-property: color;
}

#sidebar_btn:hover {
    color: #19b3d3;
}


/* Css for the social links */

.social-links {
    margin-top: 28px;
}

.social-links a {
    font-size: 24px;
    color: #fff;
    padding: 8px 8px;
    margin-right: 8px;
    margin-left: 9px;
    transition: 0.3s;
}

.social-links a :hover {
    color: #92baf7;
}


/* Css for the background image */

.content {
    /* margin-left: -110px; */
    background: url(bg1.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}

.names {
    position: absolute;
    margin-top: 160px;
    margin-left: 360px;
    color: rgb(146, 207, 48);
    line-height: 70px;
    text-transform: uppercase;
}

.names p {
    font-size: 30px;
    font-weight: 600;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.names h1 {
    font-size: 55px;
    margin-left: -10px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(rgb(30, 164, 168), rgb(71, 218, 161));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.names .anime-text {
    font-size: 25px;
    font-weight: 500;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.names .anime-text span {
    color: #06ffeab9;
}

.row {
    margin-top: 10px;
}

.main-btn {
    border: 2px solid #3498db;
    border-radius: 5px;
    color: #dba6f0;
    background: none;
    padding: 10px 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 7px;
    font-family: 'Times New Roman', Times, serif;
}

.main-btn:hover {
    transition: 1s ease-in-out;
    background: #7ae4cdd5;
    color: #140c0c;
}


/* Preloader css */

#preloader {
    background: #000000 url(preloader.gif) no-repeat center;
    height: 100vh;
    width: 100%;
    background-size: 15%;
    position: fixed;
    z-index: 100;
}


/* About us section Css */

#about {
    position: absolute;
}

.container {
    position: absolute;
}

.container h2 {
    margin-top: 70px;
    text-align: center;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container p {
    margin-left: 300px;
    margin-right: 500px;
    margin-top: 140px;
}

.aboutimg img {
    width: 400px;
    float: right;
    margin-bottom: 32px;
    margin-top: 92px;
    margin-right: 23px;
    border-radius: 80px;
}