body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    position: relative;
}

html {
    scroll-behavior: smooth;
}


/* Start of upper nav menu css  */

header {
    position: fixed;
    background: #121727;
    padding: 16px;
    width: 100%;
    height: 30px;
    z-index: 100;
}


/* Css for name in upper nav */

.left_area h3 {
    position: fixed;
    color: #fff;
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    font-family: "Libre Baskerville", serif;
    left: 90px;
}

.left_area span {
    color: #19b3d3;
}


/* Css for the buttons in upper nav menu */

.button1 {
    margin-top: 5px;
}

.btns1 {
    padding: 5px 17px;
    background: #4aa5b8;
    text-decoration: none;
    margin-left: 550px;
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    transition: 0.5s;
    font-family: "Pushster", cursive;
}

.btns1:hover {
    background: #f871db;
}


/* End of upper nav menu css  */


/* start of Css for vertical nav or side menu bar */

.sidebar {
    background: #07121f;
    margin-top: 61px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 260px;
    height: 100%;
    transition: all 0.5s;
    z-index: 1;
    overflow-x: hidden;
}


/* Css for the image in sidebar */

.sidebar .profile_image {
    width: 135px;
    height: 135px;
    border-radius: 100px;
    border: 7px solid #202433f3;
    margin-bottom: 9px;
    margin-top: -19px;
}

.sidebar h4 {
    font-size: 16px;
    color: rgb(141, 238, 225);
    margin-top: 0;
    margin-bottom: 20px;
    font-family: "Josefin Sans", sans-serif;
    background: -webkit-linear-gradient(rgb(161, 255, 169), rgb(115, 176, 245));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* close btn of side nav css */

.closebtn {
    position: absolute;
    right: 22px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 1000;
    margin-top: -12px;
}

.closebtn:hover {
    color: #19b3d3;
}


/* For animating text in home section */

.sidebar .link {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 46px;
    font-size: 20px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: 5px solid transparent;
    font-family: "Libre Baskerville", serif;
    transition: 0.5s;
    font-family: "Vujahday Script", cursive;
    cursor: pointer;
}

.sidebar .link:hover {
    padding-left: 20px;
    color: rgb(56, 221, 233);
    border-left: 5px solid rgb(52, 224, 224);
    transition: 0.5s;
}


/* Css for the gap between icon and home in side nav*/

.sidebar .new {
    padding-right: 25px;
}


/* Css for the bar button menu in upper nav */

#sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    font-size: 20px;
    margin: 5px 0;
    left: 32px;
    transition: 0.5s;
    transition-property: color;
}

#sidebar_btn:hover {
    color: #19b3d3;
}


/* Css for the social links */

.social-links {
    margin-top: 28px;
}

.social-links a {
    font-size: 24px;
    color: #fff;
    padding: 8px 8px;
    margin-right: 8px;
    margin-left: 9px;
    transition: 0.3s;
}

.social-links a :hover {
    color: #92baf7;
}


/* Css for the background image */

.content {
    /* margin-left: -110px; */
    background: url(bg2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}

.names {
    position: absolute;
    margin-top: 160px;
    margin-left: 360px;
    color: rgb(146, 207, 48);
    line-height: 70px;
    text-transform: uppercase;
}

.names p {
    font-size: 30px;
    font-weight: 600;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.names h1 {
    font-size: 55px;
    margin-left: -10px;
    margin-top: 10px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(rgb(30, 164, 168), rgb(71, 218, 161));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.names .anime-text {
    font-size: 25px;
    font-weight: 500;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.names .anime-text span {
    color: #06ffeab9;
}

.row {
    margin-top: 10px;
}

.row a {
    text-transform: none;
    text-decoration: none;
}

.main-btn {
    border: 2px solid #3498db;
    border-radius: 5px;
    color: #dba6f0;
    background: none;
    padding: 10px 10px;
    font-size: 15=8px;
    cursor: pointer;
    margin: 7px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-btn:hover {
    transition: 1s ease-in-out;
    background: #7ae4cdd5;
    color: #140c0c;
}


/* Preloader css */

#preloader {
    background: #000000 url(preloader.gif) no-repeat center;
    height: 100vh;
    width: 100%;
    background-size: 15%;
    position: fixed;
    z-index: 100;
}


/* About us section Css */

.container .aboutme {
    margin-top: 100px;
    text-align: center;
    font-weight: 600;
    position: relative;
    color: #3a6cf4;
    font-size: 2.2em;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.aboutme::before {
    content: "";
    position: absolute;
    top: 56px;
    left: 50%;
    width: 140px;
    height: 4px;
    background: #3a6cf4;
    transform: translateX(-50%);
}

.aboutme::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #3a6cf4;
    transform: translateX(-50%);
}

.abouthead {
    margin-left: 19rem;
    margin-top: 140px;
    color: #22242a;
    font-weight: 600;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.container p {
    margin-left: 300px;
    margin-right: 400px;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.aboutimg img {
    width: 300px;
    float: right;
    margin-bottom: 22px;
    margin-top: -90px;
    margin-right: 13px;
    border-radius: 30px;
}

.aboutimg img:hover {
    cursor: pointer;
}


/* end of aboutus css */


/* skill section start */

.skilled .text {
    margin-left: 300px;
    margin-right: 60px;
    margin-top: 50px;
    /* margin-bottom: 52px; */
    font-weight: 500;
    color: whitesmoke;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.skilled {
    background: #101320;
    height: 65rem;
}

.container .skillhead {
    margin-left: 200px;
    margin-top: 200px;
    padding-top: 46px;
    margin-bottom: 62px;
    text-align: center;
    font-weight: 600;
    position: relative;
    color: #5cf2fd;
    font-size: 2.2em;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.skillhead::before {
    content: "";
    position: absolute;
    top: 87px;
    left: 50%;
    width: 165px;
    height: 4px;
    background: #3ae8f4;
    transform: translateX(-50%);
}

.skillhead::after {
    content: "";
    position: absolute;
    top: 83px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #3af4db;
    transform: translateX(-50%);
}

.skillbar {
    width: 100%;
    padding: 40px 40px 50px;
    border: 2px solid rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.skillbar h2 {
    letter-spacing: 2px;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    color: whitesmoke;
}

.skilled .row {
    width: 50%;
    min-width: 590px;
    position: relative;
    transform: translate(-50%, -50%);
    left: 55%;
    top: 50%;
    margin-top: -6rem;
}

.skilled .item {
    padding: 0.5rem 0;
    margin: 0.3rem 0;
}

.skilled .item-text {
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 1.3rem;
    position: relative;
}

.item-text span {
    color: white;
}

.skilled .item-text span:last-child {
    position: absolute;
    color: wheat;
}

.skilled .item-text .w-95 {
    margin-left: 90%;
}

.skilled .item-text .w-85 {
    margin-left: 80%;
}

.skilled .item-text .w-93 {
    margin-left: 85%;
}

.skilled .item-text .w-80 {
    margin-left: 75%;
}

.skilled .item-text .w-60 {
    margin-left: 55%;
}

.skilled .item-text .w-96 {
    margin-left: 91%;
}

.progress {
    margin: 0.8rem 0;
    border-radius: 10px;
    height: 13px;
    width: 100%;
    background-color: rgb(199, 199, 199);
    overflow: hidden;
}

.progress-bar {
    background: rgb(78, 184, 149);
    height: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.progress-bar.w-95 {
    width: 95%;
}

.progress-bar.w-85 {
    width: 85%;
}

.progress-bar.w-93 {
    width: 93%;
}

.progress-bar.w-80 {
    width: 80%;
}

.progress-bar.w-60 {
    width: 60%;
}

.progress-bar.w-96 {
    width: 96%;
}


/* end skill section */


/* education section  */

.public-edu {
    height: 430px;
    width: 3px;
    background: rgb(4, 134, 151);
}

.public-edu-diagram {
    display: flex;
    height: 420px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -6px;
}

.public-edu-diagram-dot {
    background: rgb(43, 88, 90);
    width: 15px;
    height: 15px;
    border-radius: 200px;
    cursor: pointer;
    transition: 0.5s;
}

.public-edu-diagram-dot:hover {
    width: 20px;
    height: 20px;
    margin-left: -2px;
}

.education {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
}

.edu-heading {
    font-size: 1.9rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rgb(56, 77, 87);
}

.edu-heading i {
    margin-right: 10px;
}

.edu-subheading {
    font-size: 0.98rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.public-edu {
    margin-top: 80px;
    margin-bottom: 50px;
}

.edu-layout {
    position: absolute;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin-top: 180px;
    z-index: -10;
}

.edu-layout-1,
.edu-layout-2 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.edu-layout-1 {
    margin-top: 10px;
}

.edu-layout-2 {
    margin-top: 140px;
}

.edu-des-collage {
    width: 90%;
    margin-left: 5%;
}

.des2 {
    margin-top: 90px;
}

.des4 {
    margin-top: 130px;
}

.edu-deg {
    font-size: 1.8rem;
    text-align: center;
}

.edu-collage {
    font-size: 0.925rem;
}

.edu-add {
    font-size: 0.7rem;
}

.edu-yr {
    font-size: 0.9rem;
}

.edu-collage,
.edu-add,
.edu-yr {
    text-align: center;
}


/* end of education section */


/* certificate section */

.certificateed hr {
    width: 13rem;
    margin-top: -4rem;
}

.certi-wrap {
    margin: 100px auto;
    display: flex;
    justify-content: center;
}

.certi-wrap .certi-items {
    display: flex;
    justify-content: center;
}

.certi-items .item i {
    margin-right: 10px;
}

.certi-items .item {
    font-size: 2rem;
    cursor: pointer;
}


/* certificate gallery sectioin */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 15rem;
    margin-top: 30px;
}


/* remove all certify due to load when click on load more */

.certificates {
    display: none;
}


/* this is for showing certificates before loadmore */

.certificates:nth-child(1) {
    display: block;
}

.certificates:nth-child(2) {
    display: block;
}

.certificates:nth-child(3) {
    display: block;
}

.certificates:nth-child(4) {
    display: block;
}

.certificates:nth-child(5) {
    display: block;
}

.certificates:nth-child(6) {
    display: block;
}

.certificates:nth-child(7) {
    display: block;
}

.certificates:nth-child(8) {
    display: block;
}

.gallery .certificates {
    padding: 7px;
    width: calc(100% / 6);
}

.gallery .certificates span {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.gallery .certificates img {
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
}

.gallery .certificates:hover img {
    transform: scale(1.1);
}


/* load more button */

.load-more {
    padding: 0.5rem 2rem;
    background: #3498dbde;
    color: white;
    display: block;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    margin-bottom: 15rem;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
}

.load-more:hover {
    transition: 0.4s ease;
    background: #67a4b1;
    color: #040b14;
}


/* end of certificate section */


/* project section css start */

.project-sec .project-head {
    text-align: center;
}

.project-sec .project-head hr {
    width: 13rem;
}

.project-head {
    font-size: 1.9rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rgb(56, 77, 87);
}

.project-head i {
    margin-right: 10px;
}

.project-sec {
    margin-top: 100px;
    align-items: center;
    height: 100%;
}

.card {
    width: 23%;
    min-width: 200px;
    height: auto;
    margin: 14px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #aaa;
    cursor: pointer;
}

.card:hover .project-img {
    transition: 0.8s ease-in-out;
    transform: scale(1.1);
    box-shadow: 0 5px 10px #aaa;
}

.project-img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-radius: 12px
}

.ihg {
    margin: 0;
    padding: 9px;
    font-size: 14px;
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.all-project {
    margin-top: 5rem;
    margin-left: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* project btn */

.project-btn-grp a {
    border: 2px solid rgb(79, 184, 184);
    margin: 5px 5px;
    border-radius: 8px;
}

.gitrepo-project {
    text-decoration: none;
    font-size: 14px;
    float: left;
    padding: 16px 16px;
}

.live-project {
    text-decoration: none;
    font-size: 15px;
    float: right;
    padding: 16px 16px;
}

.gitrepo-project:hover {
    background: #000000c9;
    border: none;
    transition: 0.4s ease-in-out;
    color: rgb(78, 255, 217);
}

.live-project:hover {
    background: #000000c9;
    border: none;
    transition: 0.4s ease-in-out;
    color: rgb(78, 255, 217);
}


/* Contact us css */

.contact-bg {
    height: 40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-bg h2 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}

.line div {
    margin: 0 0.2rem;
}

.line div:nth-child(1),
.line div:nth-child(3) {
    height: 3px;
    width: 70px;
    background: rgb(255, 9, 91);
    border-radius: 5px;
}

.line {
    display: flex;
    align-items: center;
}

.line div:nth-child(2) {
    width: 10px;
    height: 10px;
    background: rgb(255, 9, 91);
    border-radius: 50%;
}

.cont-text {
    font-weight: 300;
    opacity: 0.9;
}


/* contact body staets */

.contact-body {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}

.contact-info {
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}

.contact-info span {
    display: block;
}

.contact-info div {
    margin: 0.8rem 0;
    padding: 1rem;
}

.contact-info span .fas {
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: #3a6cf4;
}

.contact-info div span:nth-child(2) {
    font-weight: 500;
    font-size: 1.1rem;
}

.contact-info .cont-text {
    padding-top: 0.4rem;
}

.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-left: 12rem;
}

.contact-form form {
    padding-bottom: 1rem;
}

.form-control {
    width: 100%;
    border: 1.5px solid rgb(226, 226, 226);
    border-radius: 5px;
    padding: 0.4rem;
    margin: 0.6rem 0;
    font-family: 'open-sans' sans-serif;
    font-size: 1rem;
    outline: 0;
}

.contact-form form div {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.6rem;
}

.send-btn {
    font-family: 'open-sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: whitesmoke;
    background: rgb(255, 58, 124);
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.6s ease;
    margin-bottom: 5rem;
}

.send-btn:hover {
    opacity: 0.8;
}

.contact-form>div img {
    width: 85%;
}

.contact-form>div img {
    width: 85%;
    margin-bottom: 7rem;
}

.contact-form>div {
    margin: 0 auto;
    text-align: center;
}


/* footer section */

footer {
    position: relative;
    width: 100%;
    background: #101320;
    color: #19b3d3;
    min-height: 180px;
    text-align: center;
    padding-top: 23px;
}

footer h4 {
    color: rgb(83, 164, 175);
}

footer .footer-links {
    flex-wrap: wrap;
}

footer .footer-links a {
    font-size: 1.5rem;
    color: #ffffff;
    margin: 0 10px;
}

footer .footer-links a i:hover {
    transform: translateY(-10px);
    transition: 0.4s ease-in-out;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgb(238, 238, 238) url(images/wave.png);
    background-size: 1000px;
}


/* scroll to top */

#sc-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #040b14;
    color: #19b3d3;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

#sc-top:hover {
    background: #19b3d3;
    color: #000000;
}